// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
  .container-fluid {
      margin-bottom: 25px;
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
.container-fluid {
    padding: 0px;
}
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}