footer{
  clear: both;
  font-size: 18px;
  line-height: 34px;
  background: #000;

  .container-fluid{
    text-align: center;

    .col-md-12{
      color: #999;
      padding-top: 10px;

      section{
        float: left;
        text-align: left;
        padding-top: 5px;
      }

      ul{
        list-style-type: none;
        float: right;
        line-height: 1.6em;

        li{
          font-size: 18px;
          display: inline-block;
          background-color: #fff;
          border-radius: 9999px;

          &:hover{
            background-color: #ccc;
          }

          a{
            width: 40px;
            height: 40px;
            color: #000;
            display: block;
            padding-top: 9px;

            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
  }
}
