body{
  background: $main url("bg.png");
  color: $text;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  h1, h2, h3, h4, h5, h6{
    font-family: 'Abel', sans-serif;
    margin: 0;
  }

  h1, h2{
    margin-bottom: 2px;
  }

  p{
    font-size: 14px;
  }

  a{
    color: white;
  }

  .wrapper{
    max-width: 1000px;
    margin: 0 auto;
  }

  .description a{
    text-decoration: none;
  }

  .description li a, a.cta{
    color: lighten($accent, 85%);
    text-shadow: 1px 1px darken($accent, 25%);
    background-color: $accent;
    text-decoration: none;
    padding: 10px 15px 9px 15px;
    border-radius: 3px;
    transition: 0.25s ease all;
    font-weight: 500;

    &:hover{
      background-color: lighten($accent, 10%);
    }
    &:active{
      background-color: darken($accent, 10%);
    }
  }
}
