header{
  margin-top: 50px;

  .title, .description, .avatar{
    float: left;
    padding: 10px 25px;
    box-sizing: border-box;
    text-align: center;
  }
  .title{
    @include bp(lrg){
      width: 30%;
    }
    width: 100%;
  }
  .avatar{
    @include bp(lrg){
      width: 13%;
    }
    width: 100%;
  }
  .description{
    @include bp(lrg){
      width: 35%;
    }
    width: 100%;

    p{
      a{
        background-color: transparent;
        padding: 0;
        text-shadow: none;
      }
    }
  }
  .social{
    width: 100%;

    ul{
      padding-left: 0;
      list-style-type: none;

      li{
        box-sizing: border-box;
        padding: 10px 0;
        float: left;
        width: 100%;

        @include bp(lrg){
          width: 23%;
          margin: 3px 1%;
        }

        a{
          width: 100%;
          display: block;
          padding: 9px 0;
        }
      }
    }
  }
}
